@charset "utf-8";
/* CSS Document */

.background-f5 {
	background-color: #f5f5f5;
}
.img-shadow {
	border-radius: 4px;
	-webkit-box-shadow: 0 1.6px 3.6px 0 hsl(240deg 2% 75% / 63%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
	box-shadow: 0 1.6px 3.6px 0 hsl(240deg 2% 75% / 63%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url("https://thejasoncooper.github.io/resume/assets/type/Poppins-Regular.otf");
}
@font-face {
    font-family: 'Poppins-Black';
    src: url("https://thejasoncooper.github.io/resume/assets/type/Poppins-Black.otf");
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url("https://thejasoncooper.github.io/resume/assets/type/Poppins-Medium.otf");
}

/* Text */
body {
	font-family: 'Poppins', sans-serif;
    background-color: #efefef;
}

.container {
    background-color: #f5f5f5;
}

a {
    color: #2C6CC6;
    font-weight: bold;
}

a:hover {color: #7A5102;}

h1, h2 {font-family: 'Poppins-Black', 'Poppins', sans-serif;}
h3 {font-family: 'Poppins-Medium', 'Poppins', sans-serif;}

/* Color Theme Swatches in Hex from Adobe Color 
.Architecture-1-hex { color: #D9C9BA; }
.Architecture-2-hex { color: #59341E; }
.Architecture-3-hex { color: #8C6751; }
.Architecture-4-hex { color: #BFA18F; }
.Architecture-5-hex { color: #0D0D0D; } */

.text-blue {color:#2C6CC6 !important;} /* Based on Joshua Tree sky */
.text-brown {color:#7A5102 !important;} /* Based on Joshua Tree ground */
.text-black-75 {color: rgba(33,37,41,.75)!important;}


.beige {color: #B79891;}
.beigelight {color: #FFE8E3;}
.beigedark {color: #6B504A;}
.green {color: #3F6B5B;}
.greenlight {color: #91B8AA;}



.card:hover, .card:active {
    background-color: #3F6B5B; 
    transition-timing-function: ease-in-out;
    transition-delay: .1s;}

.card:hover a, .card:active a {
    color: #91B8AA;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
}
.card:hover i, .card:active i {
    color: #91B8AA;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;}

/*Shapes*/
.custom-shape-divider-top-1618616225 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1618616225 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1618616225 .shape-fill {
    fill: #B79891;
}
.custom-shape-divider-top-1641105995 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1641105995 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}
.custom-shape-divider-top-1641105995 .shape-fill {
    fill: orange !important;
}

/* Link in Bio 
#lib.bckgrnd-img {
    background: url("https://thejasoncooper.me/assets/img/bio-bckgrnd-01.webp") center center repeat-y;
}*/
#lib .container {
    background-color: unset !;
}
