@charset "utf-8";
/* CSS Document */
.background-f5 {
	background-color: #f5f5f5;
}
.img-shadow {
	border-radius: 4px;
	-webkit-box-shadow: 0 1.6px 3.6px 0 hsl(240deg 2% 75% / 63%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
	box-shadow: 0 1.6px 3.6px 0 hsl(240deg 2% 75% / 63%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url("assets/type/Poppins-Regular.otf");
}
@font-face {
    font-family: 'Poppins-Black';
    src: url("assets/type/Poppins-Black.otf");
}

/* Text */
body {
	font-family: 'Poppins', sans-serif;
    background-color: #B79891;
}

.container {
    background-color: #f5f5f5;
}

a {
    color: #B79891;
    font-weight: bold;
}

a:hover {color: #714745;
    font-weight: bold;
}

h1 {font-family: 'Poppins-Black', 'Poppins', sans-serif;}

.text-boomer {color:#3e1c66;}
.bg-green-1 {background-color:#417505;}
.bg-green-2 {background-color:#1B8C01;}
.bg-green-3 {background-color:#018212;}
.bg-green-4 {background-color:#7C8C01;}
.bg-green-5 {background-color:#827901;}

.bg-tan-1 {background-color:#B79891;}
.bg-tan-2 {background-color:#94716B;}
.bg-tan-3 {background-color:#714745;}
.bg-tan-4 {background-color:#5E202F;}
.bg-tan-5 {background-color:#3B0909;}

/*Shape*/
.custom-shape-divider-top-1618616225 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1618616225 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1618616225 .shape-fill {
    fill: #B79891;
}
.custom-shape-divider-top-1641105995 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1641105995 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}
.custom-shape-divider-top-1641105995 .shape-fill {
    fill: orange !important;
}
