@charset "utf-8";
/* CSS Document */

.background-f5 {
	background-color: #f5f5f5;
}
.img-shadow {
	border-radius: 4px;
	-webkit-box-shadow: 0 1.6px 3.6px 0 hsl(240deg 2% 75% / 63%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
	box-shadow: 0 1.6px 3.6px 0 hsl(240deg 2% 75% / 63%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url("https://thejasoncooper.github.io/resume/assets/type/Poppins-Regular.otf");
}
@font-face {
    font-family: 'Poppins-Black';
    src: url("https://thejasoncooper.github.io/resume/assets/type/Poppins-Black.otf");
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url("https://thejasoncooper.github.io/resume/assets/type/Poppins-Medium.otf");
}

/* Text */
body {
	font-family: 'Poppins', sans-serif;
    background-color: #59341E;
}

.container {
    background-color: #f5f5f5;
}

a {
    color: #3F6B5B;
    font-weight: bold;
}

a:hover {color: #91B8AA;}

h1, h2 {font-family: 'Poppins-Black', 'Poppins', sans-serif;}
h3 {font-family: 'Poppins-Medium', 'Poppins', sans-serif;}

/* Color Theme Swatches in Hex from Adobe Color 
.Architecture-1-hex { color: #D9C9BA; }
.Architecture-2-hex { color: #59341E; }
.Architecture-3-hex { color: #8C6751; }
.Architecture-4-hex { color: #BFA18F; }
.Architecture-5-hex { color: #0D0D0D; } */

.text-boomer {color:#3e1c66;}
.bg-green-1 {background-color:#417505;}
.bg-green-2 {background-color:#1B8C01;}
.bg-green-3 {background-color:#018212;}
.bg-green-4 {background-color:#7C8C01;}
.bg-green-5 {background-color:#827901;}

.beige {color: #B79891;}
.beigelight {color: #FFE8E3;}
.beigedark {color: #6B504A;}
.green {color: #3F6B5B;}
.greenlight {color: #91B8AA;}

.bg-tan-1 {background-color:#B79891;}
.bg-tan-2 {background-color:#94716B;}
.bg-tan-3 {background-color:#714745;}
.bg-tan-4 {background-color:#5E202F;}
.bg-tan-5 {background-color:#3B0909;}

.card:hover, .card:active {
    background-color: #3F6B5B; 
    transition-timing-function: ease-in-out;
    transition-delay: .1s;}

.card:hover a, .card:active a {
    color: #91B8AA;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
}
.card:hover i, .card:active i {
    color: #91B8AA;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;}


/*Shape*/
.custom-shape-divider-top-1618616225 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1618616225 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1618616225 .shape-fill {
    fill: #B79891;
}
.custom-shape-divider-top-1641105995 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1641105995 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}
.custom-shape-divider-top-1641105995 .shape-fill {
    fill: orange !important;
}